.body {
  margin: 0px;
}
.nav {
  width: 100%;
  float: left;
  background-color: blue;
  padding: 0px;
  margin: 0px;
  color: white;
}
.audi {
  width: 97px;
  float: left;
  color: white;
  padding-top: 3.5px;
  padding-left: 4px;
}
.menu {
  width: 25%;
  float: left;
}
.search_bar {
  width: 60%;
  padding: 10px;
  float: left;
  text-align: right;
}
#Search {
  padding: 7px;
}
.main_icon {
  width: 6%;
  position: relative;
  float: left;
}
.icon {
  float: left;
  padding-top: 14px;
  font-size: 26px;
  padding-left: 19px;
}
.menu-item {
  color: white;
  float: left;
  padding: 15px;
  font-size: 20px;
  text-decoration: none;
}
.image {
  position: absolute;
  width: 39px;
  top: 6px;
  left: 67px;
  float: left;
  border-radius: 18px;
}
.portion1 {
  width: 100%;
  float: left;
  padding-top: 25px;
}
.portion {
  width: 86%;
  margin: 0px auto;
}
.section-one {
  width: 25%;
  float: left;
}
.one {
  border: 2px solid rgb(214, 187, 187);
  position: relative;
}
.image-1 {
  width: 337px;
  height: 188px;
}
.one_hea {
  margin: 0px;
  padding-top: 53px;
  padding-left: 90px;
}
.para {
  margin: 0px;
  text-align: center;
  padding-left: 9px;
  padding-top: 9px;
  padding-right: 3px;
  padding-bottom: 27px;
}

.profile {
  position: absolute;
  width: 94px;
  border-radius: 64px;
  top: 141px;
  left: 119px;
}
.friend {
  width: 20%;
  float: left;
  border-right: 2px solid;
  padding-left: 94px;
}
.enemies {
  width: 20%;
  float: left;
  padding-left: 12px;
}
.two_heading {
  margin-bottom: 71px;
  font-family: sans-serif;
  color: grey;
}
#fri {
  margin: 0px;
}
#ene {
  margin: 0px;
}
.on {
  margin: 0px;
  padding-left: 15px;
  padding-top: 3px;
}
.m {
  margin: 0px;
  padding-left: 15px;
  padding-top: 3px;
}
.section-two {
  width: 50%;
  float: left;
  border: 1px solid grey;
  border-bottom: 0px;
  position: relative;
  margin-left: 22px;
}

.br {
  margin: 24px;
  padding: 10px 472px 9px 5px;
}
.photo {
  position: absolute;
  float: left;
  font-size: 17px;
  left: 636px;
  background-color: grey;
  padding: 10px;
  top: 24px;
}
.image-2 {
  width: 48px;
  height: 47px;
  padding: 18px;
  border-radius: 64px;
  float: left;
}
.part-one {
  border: 1px solid grey;
  border-top: 0px;
}
.two_hea {
  float: left;
  padding-top: 16px;
  margin: 0px;
}
.a {
  float: left;
  padding-top: 18px;
  padding-left: 438px;
  color: gray;
  margin: 0px;
  padding-bottom: 9px;
  opacity: 0.4;
}
.para-one {
  width: 83.5%;
  margin-bottom: 9px;
  padding-left: 84px;
}
.mt-0 {
  float: left;
  width: 315px;
  padding-top: 10px;
  padding-left: 85px;
  height: 223px;
}
.mt-1 {
  float: left;
  padding-top: 10px;
  width: 242px;
  padding-left: 10px;
  height: 223px;
}

.mt-2 {
  float: left;
  padding-left: 85px;
  padding-top: 9px;
  width: 219px;
  padding-bottom: 20px;
  height: 208px;
}
.mt-3 {
  float: left;
  padding-left: 10px;
  width: 340px;
  padding-bottom: 20px;
  padding-top: 9px;
  height: 208px;
}
.image-3 {
  width: 48px;
  height: 47px;
  padding: 18px;
  border-radius: 64px;
  float: left;
}
.sec_part {
  float: left;
  padding-left: 66px;
}
.ja {
  margin: 0px;
  padding-top: 24px;
  float: left;
}
.paragraph {
  padding-right: 27px;
  margin-top: 20px;
  padding-left: 84px;
  margin-bottom: 0px;
}
.paragraph1 {
  padding-right: 27px;
  margin-top: 18px;
  padding-left: 84px;
  padding-bottom: 20px;
}

.two {
  margin-top: 14px;

  border: 2px solid rgb(228, 203, 203);
}
.para_one {
  padding-left: 20px;
  padding-top: 14px;
}
.edi {
  color: blueviolet;
}
.abo {
  font-size: 21px;
}
.cal {
  float: left;
}
.para_two {
  padding-left: 20px;
}
.next {
  padding-left: 37px;
}
.can {
  color: blueviolet;
}
#last {
  margin-bottom: 34px;
}
.three {
  margin-top: 14px;

  border: 2px solid rgb(228, 203, 203);
}
.images {
  padding-top: 12px;
}
.one_one {
  width: 142px;
  height: 136px;
  padding-left: 20px;
  float: left;
}

.one_two {
  width: 145px;
  padding-left: 8px;
  height: 136px;
}
.one_three {
  width: 142px;
  height: 136px;
  padding-left: 20px;
  float: left;
  padding-top: 5px;
}
.one_four {
  width: 145px;
  padding-left: 8px;
  height: 136px;
  padding-top: 5px;
}
.third_part {
  width: 100%;
  float: left;
  border-top: 0px;
  border-bottom: 1px solid gray;
  position: relative;
  margin-left: 0px;
}
.section_third {
  width: 20%;
  float: left;
  margin-left: 22px;
}
.ab {
  position: relative;
  background-color: #faeede;
  padding: 21px;
}
.spon {
  margin: 0px;
}

.mark {
  position: absolute;
  top: 14px;
  right: 5px;
  font-size: 16px;
  padding: 5px;
}
.bc {
  padding: 15px;
  margin-top: 14px;
  border: 1px solid grey;
}
.cd {
  width: 241px;
  padding-top: 10px;
  height: 249px;
}
.ef {
  font-size: 14px;
  margin: 0px;
  padding-top: 8px;
}
.par {
  margin: 0px;
  padding-top: 8px;
}
.gh {
  padding: 8px;
  background: #fffefd;
  color: rgb(119, 119, 228);
  margin-top: 14px;
  border: 1px solid grey;
}
.sec-last {
  width: 100%;
  float: left;
  margin-top: 14px;
  border: 1px solid grey;
}
.like {
  padding: 17px;
}
.image-4 {
  width: 50px;
  border-radius: 36px;
}
.last_div {
  float: left;
}
.sec-last-1 {
  width: 20%;
  padding-left: 15px;
}
.button {
  font-size: 17px;
  margin: 9px;
  margin-left: 11px;
  background: center;
  border: 1px solid;
  padding: 4px;
  padding-left: 6px;
  color: blueviolet;
}

.head {
  padding-left: 9px;
}
.head1 {
  padding-left: 9px;
}
#abd {
  margin-top: 14px;
}
.paragraph2 {
  padding: 4px;
  margin: 0px;
}
.sec-last-2 {
  border-top: 1px solid grey;
  padding: 14px;
  background: ghostwhite;
  margin-top: 19px;
}
.footer {
  float: left;
  border: 1px solid grey;
  padding-top: 29px;
  padding-left: 18px;
  padding-right: 3px;
  margin-top: 14px;
  padding-bottom: 32px;
}
a {
  text-decoration: none;
  padding: 3px;
}
